<import src="../tpls/products/products-tpl.wxml"/>
<view class='container'>
  <view class='theme-header'>
    <image src="{{productInfo.head_img.url}}" mode="aspectFill"></image>
  </view>
  <view class='theme-main'>
   <template is="products" data="{{productsArr:productInfo.products}}"></template>
  </view>
</view>